.mainContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 64px;
}

.dataContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 600px;
}

.header {
  text-align: center;
  font-size: 32px;
  font-weight: 600;
}

.bio {
  text-align: center;
  color: gray;
  margin-top: 16px;
}

.waveButton {
  cursor: pointer;
  margin-top: 16px;
  padding: 8px;
  border: 0;
  border-radius: 5px;
  background-color: blueviolet;
  color: white;
  transition: 5ms;

}
.waveButton:hover{
  box-shadow: 1px 3px 6px 1px #000000;

}
.messageBox{
  background-color: #fff4df; 
  margin-top: 16px; 
  padding: 8px; 
  border: rgb(0, 0, 0) 2px solid;
  border-radius: 10px;
}